input::-webkit-input-placeholder{
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}

input::-moz-placeholder {
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}

input:-moz-placeholder {
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}

input::-ms-input-placeholder {
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}

input:focus, select:focus, button:focus {
  outline: none;
}

select {box-sizing: content-box;border-width: 1px;}

i{font-style:initial;}