@tabbar-height: 70px;
@border-color: #eee;
@nav-bar-height: 56px;
@nav-bar-background-color: #F7F7F7;
@nav-bar-arrow-size: 24px;	
@nav-bar-icon-color: #969799;
@nav-bar-text-color: #000;	
@nav-bar-title-font-size: 18px;
@pagination-height: 50px;
@dialog-border-radius: 5px;
// @pagination-item-width: 55px;
// @nav-bar-title-text-color: #000;
.van-stepper__input {
    width: 86px;
}
